*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background: linear-gradient(189deg, red, blue);
}

.home{
    margin: 5%;
    height: 90vh;
    background-color: rgba(19, 18, 18, 0.2);
}
header{
    padding-top: 30px;
    justify-content: center;
}

span{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: aqua;
    padding: 2px;
    justify-content: space-around;
}
.red{
    background-color: red;
}

.amber{
    background-color: rgb(235, 179, 75);
}

.green{
    background-color: rgb(98, 230, 98);
}
.panel{
    display: flex;
    justify-content: space-around;
}
.links{
    float: left;
    min-width: 80%;
}


.links ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.links li{
    display: inline-block;
    justify-content: space-around;
    color: white;

}
.links li:hover{
    border-bottom: 1px solid black;
}
.profile{
    float: right;
}

.links input{
    border: 1px solid yellow;
    padding-left: 10px;
    border-radius: 8px;
}