*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background: linear-gradient(189deg, red, blue);
}

.home{
    margin: 5%;
    height: auto;
    background-color: rgba(19, 18, 18, 0.2);
    overflow: auto;
    border-radius: 20px;
}
header{
    padding-top: 30px;
    justify-content: center;
    margin: 0;
}

.spans span{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    padding: 2px;
    justify-content: space-around;
}

.profile span{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: aqua;
    padding: 2px;
    justify-content: space-around;
}
.red{
    background-color: red;
}

.amber{
    background-color: rgb(235, 179, 75);
}

.green{
    background-color: rgb(98, 230, 98);
}
.panel{
    display: flex;
    justify-content: space-around;
}
.links{
    float: left;
    min-width: 80%;
}


.links ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.links li{
    display: inline-block;
    justify-content: space-around;
    color: white;

}
.links li:hover{
    border-bottom: 1px solid black;
}
.profile{
    float: right;
}

.links input{
    padding-left: 10px;
    border-radius: 4px;
    background-color: rgb(17, 21, 31);
    color: white;
}

hr{
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

/*  */
.column-2{
    float: left;
    width: 10%;
    margin: 0;
    overflow: hidden;
}
.column-9{
    width: 90%;
    margin: 0;
    float: left;
}

.first{
    border-right: .1px solid rgb(189, 182, 182);
    height: 100%;
}

.apps, .categories, .fonts, .resourceslinks{
    color: #443434;
    font-size: 10px;
}

#apps, #categories, #fonts, #resourceslinks{
    padding-left: 5px;
    line-height: 30px;
    color: whitesmoke;
    font-size: 10px;
}


/* top panel*/

.panel-top{
    text-align: center;
    padding: 0;
    border-bottom: 0.1px solid rgb(143, 138, 138);
    width: 100%;
}
.panel-top p{
    display: inline-block;
    padding: 10px;
    margin: 0;

}
.panel-top p:hover{
    border-bottom: 2px solid rgb(231, 228, 228);
}


/* Contents*/

.content{
    padding-left: 20px;
}
.adobe{
    background-image: url("images/crystal.jpg");
    background-position: center;
    background-size: cover;
    color: rgb(66, 38, 38);
    padding: 15px;
    border-radius: 10px;
    margin-top: 5px;
    height: auto;
    color: white;
}

.adobe button{
    background-color: rgb(161, 161, 231);
    border: none;
    margin-left: 20px;
    border-radius: 10px;
    width: 25%;
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
}

.mytable{
    background: rgba(19, 18, 18, 0.2);
    border-radius: 20px;
    color: aliceblue;
}
.tr1{
    border-bottom: 1px solid rgb(121, 119, 119);
}

table button{
    border: .1px solid white;
    background: rgba(126, 122, 122, 0.1);
    color: white;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

tr:hover{
    background-color: rgba(148, 132, 132, 0.6);
    border-radius: 10px;
}

.threequarter{
    width: 33%;
    float: left;
    margin: 0;
}

.w3-content{
    padding: 10px;
    color: white;
    font-size: 13px;
    background: rgba(0, 0, 0, .2);
    margin-top: 10px;
    overflow: hidden;
    border-radius: 10px;
}
.w3-content hr{
    height: .1px;
    color: blanchedalmond;
    margin-top: 7px;
}

.w3-content button{
    color: white;
    background-color: blue;
    border: none;
    border-radius: 15px;
}

.mybtn{
    float: right;
}